<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # index.php をデフォルトのファイルとして認識させる
    DirectoryIndex index.php

    RewriteEngine On

    # Authorization ヘッダーを有効にする（API等で必要）
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # ディレクトリやファイルが存在しない場合は index.php に飛ばす
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
